* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f4ebd9;
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.game-container {
    width: 450px;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ff7f50;
    box-shadow: 0 0 10px #000, inset 0 0 10px #000;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #fff;;
}