p {
    border: 1px solid black;
    /* width: 500px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll; */
    /* border-width: 1px;
    border-style: dotted;
    border-color: black; */

    /* border-top-width: 5px;
    border-left-width: 20px;
    border-bottom-width: 5px;
    border-right-width: 20px;

    border-top-style: dashed;
    border-left-style: dotted;
    border-bottom-style: solid;
    border-right-style: dashed;

    border-top-color: red;
    border-left-color: rgb(214, 24, 141);
    border-bottom-color: rgb(10, 122, 156);
    border-right-color: rgb(13, 187, 27); */

    /* top right bottom left */
    /* padding: 10px 20px 30px 40px; */
    /* padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
     */

    /* margin: 20px 40px 20px 40px; */
    /* margin: 0px auto; */
    display: inline-block;
    height: 100px;
    width: 150px;
    margin-top: 20px;
    /* display: none; */
    visibility: hidden;
}

span {
    display: block;
    border: 1px solid black;
}

div {
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}