* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-image {
    width: 100%;
    /* height: 100vh; */
    background-image: url("images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}